@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100;200;300;400;500;600&display=swap');

@import 'antd/dist/antd.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --text-green: #18ba77;
  --text-light: #838886;
  --text-light-2: #667272;
  --text-dark: #292d34;
  --bg-yellow: #ffb107;
  --bg-light: #f1f3f4;
  --bg-dark: #070e0b;
  --bg-green: #133f2d;
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-light);
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  margin: 0 auto;
  max-width: 1920px;
}

.ant-btn-primary {
  color: #40a9ff;
}

.ant-input-affix-wrapper {
  padding: 7px 8px;
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
}

.ant-input-search-button {
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;

  background-color: #fff !important;
  position: absolute;
  top: 0;
  height: 100%;
}

.ant-input-group .ant-input-affix-wrapper:not(:last-child) {
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
}

.ant-select-multiple .ant-select-selector,
.ant-select-single,
.ant-picker,
.ant-picker-range {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  border-radius: 5px !important;
}

.ant-select-selection-item {
  border-radius: 5px !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.attendance__btn-group .have,
.attendance__btn-group .havenot {
  opacity: 0;
}

.attendance__btn-group:hover .have {
  opacity: 100;
}

.attendance__btn-group:hover .havenot {
  opacity: 100;
}

.login-password {
  padding: 0 !important;
  padding-right: 5px !important;
  border-radius: 0 !important;
}


.login-password input {
  padding: 5px 8px !important;
}

@media (min-width: 992px) {
  .layout-content {
    margin-left: 12rem !important;
    padding: 2rem;
  }
}